@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500&display=swap");

$primary: #00003c;
$secondary: #36454f;
$accent: #9c27b0;

$dark: #1d1d1d;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$typography-font-family: "Poppins", sans-serif !default;
